<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="mistabs-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `mistabs-element`
     * Componente para mistabs
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MistabsElement extends Polymer.Element {
      static get is() { return 'mistabs-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mistabs-element'
          }
        };
      }
    }

    window.customElements.define(MistabsElement.is, MistabsElement);
  </script>
</dom-module>
