<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-tabs/paper-tabs.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">

<dom-module id="mistabs-element">
  <template>
    <style>
      /* :host {
        display: block;
      } */
      paper-tabs {
        background-color: thistle;

      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <paper-tabs selected="0">
      <!-- <dom-repeat items="{{items}}"> -->
      <!-- <template is="dom-repeat" items="{{items}}"> -->
      <!-- <paper-tab>{{items.name}}</paper-tab> -->
      <paper-tab>INFORMATION</paper-tab>
      <paper-tab>SUCCESS</paper-tab>
      <paper-tab>TRANSACTION TABLE</paper-tab>
      <paper-tab>INFO TABLE</paper-tab>
      <!-- </template> -->
      <!-- </dom-repeat> -->
    </paper-tabs>
  </template>

  <script>
    /**
     * `mistabs-element`
     * Componente para mistabs
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MistabsElement extends Polymer.Element {
      static get is() {
        return 'mistabs-element';
      }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'mistabs-element'
          }
          // ,
          // items: {
          //   type: Array,
          //   value: () => [{
          //       name: 'INFORMATION',
          //       id: 'tab1'
          //     },
          //     {
          //       name: 'SUCCESS',
          //       id: 'tab2'
          //     },
          //     {
          //       name: 'TRANSACTION TABLE',
          //       id: 'tab3'
          //     },
          //     {
          //       name: 'INFO TABLE',
          //       id: 'tab4'
          //     }
          //   ]
          // }
        };
      }
      event(e) {
        this.dispatchEvent(new CustomEvent('click-tab'));


      }
    }

    window.customElements.define(MistabsElement.is, MistabsElement);
  </script>
</dom-module>